*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
header{
    /* position:sticky; */
    /* position:fixed; */

    width: 100%;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-logo{
    
    height: 60px;
    width: 120px;

    
}
.logo{
    background-image: url("assets/amazon_logo.png");
    height: 60px;
    width: 100%;
    margin-bottom: 52px; 
     background-size:cover;
    
}
.border{
    border: 2px solid transparent;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.border:hover{
    cursor: pointer;

    border: 2px solid white;

}
.add-icon{
    display: flex;
    align-items: center;
}
.fst-add{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.sec-add{
    font-size: 1rem;
    margin-left: 3px;

}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 920px;



    height: 40px;
    border-radius: 3px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
    /* border: 2px solid rgb(164, 41, 41); */
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;

}
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;

}
.nav-return{

}
.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size:  0.85rem;
    font-family: 700;
}


.pannel{
    height: 40px;
    background-color: #222f3d;
    /* border: 2px solid ; */
    display: flex;
    align-items:center;
    gap: 12px;
    /* justify-content: space-between; */
    color: white;
}
.pannel-all{
    margin-left: 23px;

}
.pannel-ops p{
    display: inline;
    margin-left: 15px;
}
.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-feals{
    font-size: 0.9rem;
    font-family: 700;
}
.hero-section{

    background-image: url("assets/bgmain.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-top:20% ;
}
.hero-msg a{
    color: #007785;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 230px;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
}
.box4{
    /* border: 2px solid black; */
    margin-top: 17px;
    height: 400px;
    width: 23%;
    /* background-color: white; */
}
.sign{
    cursor: pointer;
}
.imgtop2{
    display: flex;
    margin-top: 35px;
}
.image img{
    width: 150px;
    /* display: flex; */
    
}
.image p{
    font-size: 12px;
    text-align: center;
}
.box .box-head {
    font-size: 25px;
    font-weight: 700;
    /* text-align: center; */
    margin-top: 22px;
    margin-left: 20px;

}
#boxlink {
    margin-top: 12px;
    margin-left: 20px;
    color: blue;


}
#boxlink-1 {
    margin-top: 30px;
    margin-left: 20px;
    color: blue;


}
.imgbox2{

    display: flex;
    align-items: center;
    justify-content: center;
}
.imgbox2 img{
    margin-top: 10px;
    width: 340px;
    height: 300px;

}
.imgbox3{

    display: flex;
    align-items: center;
    justify-content: center;
}
.imgbox3 img{
    margin-top: 10px;
    width: 85%;
    height: 300px;
}
.topbox{
    width: 90%;
    margin-left: 15px;
    background-color: white;
    height: 30%;
    /* border: 2px solid red; */
}
.topbox p{
    padding-top: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
    
    
}

.topbox button{
    margin-top: 12px;
    padding: 7px 95px;
    margin-left: 15px;
    background-color: rgb(244, 215, 51);
    border: none;
    font-weight: 300d;

    border-radius: 12px;
}
.bottombox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottombox img{
    margin-top: 23px;
    width: 80%;
}
.box8{
    margin-top: 25px;

}
.box-head8
{
    margin-top: 12px;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}
.two-img-8{
    margin-top: 20px;
    /* display: flex; */
}
.imgtop8-1{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px ;

}
main{
    background-color: #6760602d;
}
.image-8 img{
    width: 150px;
    height:120px;
}
.image-8 p{
    font-size: 12px;
    text-align: center;
}
.imgtop5-2{
    display: block;

}
.img5 img{
    width: 310px;
    height: 303px;
    margin-left: 15px;
}
#link-5{
margin-top: 12px;
margin-left: 22px;
color: blue;
cursor: pointer;

}
#link-5-1{
    margin-top: 25px;
    margin-left: 22px;
    color: blue;
cursor: pointer;

    

}
.imgbox-6 img{
    margin-top: 12px;
        width: 300px;
    height:300px;
    margin-left: 20px;



}
.link-5-5
{
    margin-top: 15px;
    margin-left: 17px;
    color: blue;
cursor: pointer;


}
.shop-sec-3{
    
    /* top: 52px;position: absolute; */
    margin-top: -15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-top
{
    margin-top: 3%;
    width: 100%;
    height: 50px;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

}
.main-info{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: center */
    justify-content: space-evenly;
    background-color: #232f3e;
    color: white;
}
.main-info p{
    margin-top: 7px;
    font-size: 13px;
}
.main-info p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.main-info h4{
    font-weight: 700;
    font-size: 17px;
}
.last-footer{
    width: 100%;
    height: 90px;
    background-color: #131a22;
}
.oneinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    
    
}
.oneinfo p{
    margin-top: 22PX;
    /* margin-top: 20px; */
    font-size: 12px;
}
.oneinfo p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.last-footer P{
    font-size: 12px;

    color: wheat;
    text-align: center;
}